<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Coin Button</title>
  </head>
  <body>
    <div id="ico">
      <a href="https://sandbox.coingate.com/pay/coin-button"
         rel="noopener noreferrer nofollow"
         target="_blank">
        <img alt="CoinGate Payment Button"
             src="https://static.coingate.com/images/buttons/1.png" />
      </a>
    </div>

    <div>
      <table bordercolor="#000000" rules="all" border>
        <caption><h1>List of transactions</h1></caption>
        <tr>
          <th>Transaction id</th>
          <th>Order's date</th>
          <th>Order's time</th>
          <th>Amount paid</th>
          <th>Currency</th>
          <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{ order['id'] }}</td>
          <td>{{ order['created_at'].date() }}</td>
          <td>{{ order['created_at'].time() }}</td>
          <td>{{ order['pay_amount'] }}</td>
          <td>{{ order['pay_currency'] }}</td>
          <td>{{ order['status'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
